@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.body{
    font-family: 'Inter' 'sans serif';
}

.container {
     display: flex;
    flex-flow: row;
    height: calc(100vh - 20px);
    background: #F3F5FC;
}

.encryptContainer {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spaceLogo {

    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
}

.logoContainer {

    width: 120px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.textContainer {

    width: 100%;
    height: 60%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
}

.text {

    width: 577px;
    height: 48px;
    font-family: 'Inter' 'sans serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    margin-top: 40px;
    background-color: transparent;
    border: none;
    outline: none;
}

.text::placeholder {
    color: #0A3871;
}

.buttonContainer {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.alert {
    width: 229px;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 210px;
}

.alertParagraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    margin-left: 8px;
}

.buttons {
    width: 680px;
    height: 67px;
    margin-top: 30px;
    margin-left: 200px;
    padding-bottom: 20PX;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}

.encrypt {
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #0A3871;
    cursor: pointer;
    
}

.decrypt {
    box-sizing: border-box;
    padding: 24px;
    gap: 18px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
}

.resultContainer {
    width: 400px;
    padding: 10px;
    padding-right: 35px;
}

.rectangleContainer {
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0px 10px 32px -8px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image {
    width: 236px;
    height: 204px;
}

.answerContainer {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.messageContainer {
    width: 80%;
    margin: auto;
}

.answerMessage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.TextContainer {
    width: 80%;
    margin: auto;
    display: flex;
}

.text2 {
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    resize: none;
}

.hiddenButton {
    width: 80%;
    height: 40%;
    margin: auto;
    display: flex;
    align-items: center;
}

.buttonCopy {
    width: 288px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;   
    visibility: hidden;
}

.footer{
    width: 100%;
    height: 20px;
    background: #F3F5FC;
    font-style: 'Inter' 'sans serif';
    text-align: center;
    font-size: 400;
    font-weight: bold;
    color: #0A3871;
}


    
